body {
  background: #f5f5f5;
}

.game {
  font: 14px "Century Gothic", Futura, sans-serif;
}

.game ol,
.game ul {
  padding-left: 30px;
}

.game-zone {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.board-row {
  display: flex;
  justify-content: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
  cursor: pointer;
}

.square:focus {
  outline: none;
  background: #ddd;
}

.game-info {
  margin-left: 20px;
}
